<%= form_for(@question) do |f| %>
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% @question.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :question %><br />
    <%= f.text_area :question, rows: 5%>
  </div>
  <div class="field">
    <%= f.label :answer_a, "Answer A" %><br />
    <%= f.text_area :answer_a, rows: 2 %>
  </div>
  <div class="field">
    <%= f.label :answer_b, "Answer B" %><br />
    <%= f.text_area :answer_b, rows: 2 %>
  </div>
  <div class="field">
    <%= f.label :answer_c, "Answer C" %><br />
    <%= f.text_area :answer_c, rows: 2 %>
  </div>
  <div class="field">
    <%= f.label :answer_d, "Answer D" %><br />
    <%= f.text_area :answer_d, rows: 2 %>
  </div>
  <div class="field">
    <%= f.label :correct_answer, "Correct Answer" %><br />
    <%= f.text_field :correct_answer %>
  </div>
  <div class="field">
    <%= f.label :category %><br />
    <%= f.text_field :category %>
  </div>
  <div class="field">
    <%= f.label :difficulty %><br />
    <%= f.number_field :difficulty %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
