<p id="notice"><%= notice %></p>

<p>
  <b>Question:</b>
  <%= @question.question %>
</p>

<p>
  <b>Answer A:</b>
  <%= @question.answer_a %>
</p>

<p>
  <b>Answer B:</b>
  <%= @question.answer_b %>
</p>

<p>
  <b>Answer C:</b>
  <%= @question.answer_c %>
</p>

<p>
  <b>Answer D:</b>
  <%= @question.answer_d %>
</p>

<p>
  <b>Correct Answer:</b>
  <%= @question.correct_answer %>
</p>

<p>
  <b>Category:</b>
  <%= @question.category_id %>
</p>

<p>
  <b>Sub Category:</b>
  <%= @question.sub_category_id %>
</p>

<p>
  <b>Difficulty:</b>
  <%= @question.difficulty %>
</p>


<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %>
