<p id="notice"><%= notice %></p>

<p>
  <b>Category:</b>
  <%= @category.name %>
</p>

<ul>
	<% for sub_category in @category.sub_categories %>
		<li><%= sub_category.name %> - <%= sub_category.color %></li>
	<% end %>
</ul>


<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
